.homeLoader {
  margin: 0 auto;
}
.homePart1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.part1Info {
  margin-left: 80px;
  margin-top: -100px;
}
.part1Info > h1 {
  font-size: 50px;
  line-height: 54px;
  color: #2e2e40;
  font-weight: bold;
}
.part1Info > p {
  font-size: 20px;
  line-height: 30px;
  color: rgba(37, 38, 94, 0.87);
}
.part1Info > p > span {
  color: #0556f3;
}
.imgSection {
  margin-right: 0;
}
.typeWriter {
  font-size: 24px;
  color: #202033;
  font-weight: bold;
}
.part2Main {
  padding: 20px 20px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.part2Info > h1 {
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 16px;
  font-family: "euclid_circular_a", "Arial", "Source Sans Pro", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 0px;
  color: #25265e;
}
.part2Info > p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(37, 38, 94, 0.87);
}
.cardLink {
  text-decoration: none;
  outline: none;
  width: 225px;
  background-color: transparent;
}
.part2ProCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
  width: 50%;
}

.cards {
  gap: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 12px rgba(2, 30, 84, 0.06);
  padding: 12px 12px 12px 20px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  transition: all;
  background-size: 100%;
}
.cards > h2 {
  font-size: 16px;
  line-height: 24px;
  color: #25265e;
}

/* Part3 Secation */
.P3MainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  row-gap: 40px;
  background-color: #efeffa;
}
.P3MainText > h2 {
  font-weight: bold;
  font-size: 35px;
  color: #2e2e40;
}
.coursesP3 {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}
.part4Container {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.part4Container > h1 {
  font-family: "euclid_circular_a", "Arial", "Source Sans Pro", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #25265e;
  font-size: 32px;
  line-height: 40px;
}
.platformInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 80px;
  row-gap: 30px;
}
.singleInfo {
  display: flex;
  align-items: flex-start;
}

.infoIcon {
  width: 40px;
  margin-right: 28px;
  flex-shrink: 0;
}

.part4Details > h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 16px;
  font-family: "euclid_circular_a", "Arial", "Source Sans Pro", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 0px;
  color: #25265e;
}
.part4Details > p {
  font-size: 16px;
  line-height: 24px;
  max-width: 238px;
  color: rgba(37, 38, 94, 0.87);
}

/* Course Card Section */
.media {
  height: 0;
  padding-top: "56.25%";
  margin-top: "30";
}

.cardCourse {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: margin-top 0.5s ease-in-out;
}
.cardCourse:hover {
  margin-top: -20px !important;
}
.cardcontent {
  display: flex;
  flex-direction: column;
}
.cardAuthor {
  display: flex;
  align-items: center;
  margin-top: -39px;
}
.cardAvatar {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
.cardAction {
  display: flex;
  justify-content: flex-end;
}
.labelEdit {
  font-size: 15px;
  font-weight: bold;
  color: lightslategrey;
}
.edit:hover {
  background-color: transparent;
}
.editIcon {
  color: lightslategrey;
  font-size: 24px;
}
.edit:hover {
  color: red;
}
.edit:hover > * {
  color: red;
}
.cardText {
  font-size: 27px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  color: #202033 !important;
}
.cardButton {
  color: #202033;
  font-weight: bold;
  border: 1px solid rgb(30, 30, 125);
  background: none;
  padding: 5px 10px;
}
/* Part 5 promotion */
.greenText {
  color: green;
}
